<html>
	<head>
		<title>
			Page admin
		</title>
	</head>
<body>

	<h3>Admin zone</h3>
	<p>
		
		{% for message in app.session.flashbag.get('info') %} 
			<span class="info">{{ message }}</span>	
		{% endfor %}

	</p>
	<p>
		<a href="{{ path('base_admin_ajouter_article') }}">Ajouter un article</a>
	</p>
	<p>
		<a href="{{ path('base_admin_modifier_article') }}">Modifier un article
		</a>
	</p>
	<p>
		<a href="{{ path('base_admin_supprimer_article') }}">Supprimer un article
		</a>
	</p>
</body>
</html>