<h1>Formulaire de contact</h1>

<a href={{ path('framework_interface_homepage') }}>Revenir à la page d'accueil</a>
{% block javascripts %}
    <script src="{{ asset('@InterfaceBundle/Resources/public/js/script.js') }}" type="text/javascript"></script>
{% endblock %}
<form action="/#" method="post" onsubmit="checkmail(this)">
    <div>
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="user_name" />
    </div>
    <div>
        <label for="courriel">Courriel :</label>
        <input type="email" id="courriel" name="user_email" onmouseout="checkmail(this)"/>
    </div>
    <div>
        <label for="message">Message :</label>
        <textarea id="message" name="user_message"></textarea>
    </div>

    <div class="button">
        <button type="submit">Envoyer votre message</button>
    </div>
</form>