<html>
	<head>
		<title>
			Page ajout
		</title>
	</head>
<body>

	<h3>Zone d'ajout</h3>
	<form method="post">
		 <input type="text" name="titre" />
		 <input type="submit"/>
	</form>
	<p>
		<a href="{{ path('base_admin_home') }}">Retour au home</a>
	</p>
	<p>
		
	</p>

</body>
</html>