<html>
	<head>
		<title>
			Page de modification
		</title>
	</head>
<body>

	<h3>Zone de modification</h3>
	<p>
		<a href="{{ path('base_admin_home') }}">Retour au home</a>
	</p>
	<p>
		
	</p>

</body>
</html>