<html>
	<head>
		<title>
			Page suppression
		</title>
	</head>
<body>

	<h3>Zone de suppression</h3>
	<p>
		<a href="{{ path('base_admin_home') }}">Retour au home</a>
	</p>
	<p>
		
	</p>

</body>
</html>