{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <a href={{ path('framework_interface_homepage') }}>Revenir à la page d'accueil</a>
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
